.title {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
  color: white;
  @media (min-width: $sm) {
    font-size: 1.3rem;
  }
  a {
    color: rgb(112, 179, 255);
    transition: 0.2s all;
    text-decoration: rgb(70, 70, 69) underline;
  }
  a:hover {
    text-decoration: white underline;
  }
}
