.fieldContainer {
  width: 100%;
  margin-bottom: 1em;
}

.fieldLabel {
  display: block;
}

.form {
  width: 600px;
}

.field {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.3em;
  letter-spacing: 1.5px;
  border: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  &:focus-visible {
    outline: none;
    border: 2px solid #9c27b0;
  }
  input[type="text"],
  input[type="email"] {
    height: 2em;
  }
}

.buttonContainer {
  text-align: right;
  padding-top: 2em;
}

.errorMessage {
  color: rgb(255, 107, 107);
}
