.Button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: -4px 6px 8px -4px rgba(0, 0, 0, 0.7);
  border-radius: 50px;
}

.Button:hover {
  cursor: pointer;
}
.Button:disabled {
  color: rgb(141, 141, 141);
  cursor: not-allowed;
}

.ButtonWarning {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    51deg,
    rgba(140, 8, 15, 1) 0%,
    rgba(255, 213, 0, 1) 100%
  );
}
.ButtonDanger {
  background: linear-gradient(
    51deg,
    rgba(56, 15, 15, 1) 0%,
    rgba(194, 0, 0, 1) 100%
  );
}
.ButtonSuccess {
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    51deg,
    rgba(15, 56, 16, 1) 0%,
    rgba(92, 194, 0, 1) 100%
  );
}
.ButtonInfo {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    51deg,
    rgba(8, 37, 140, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.ButtonPrimary {
  background-color: #3f51b5;
}
