.container {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 60px 20px;
  @media (min-width: $mobile) {
    justify-content: flex-end;
    margin: 150px 20px;
  }
  @media (min-width: $desktop) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 60px;
  }
}

.title {
  max-width: 700px;
  font-size: 2.5rem;
  text-align: center;
  @media (min-width: $sm) {
    font-size: 3rem;
  }
  @media (min-width: $md) {
    font-size: 5.5rem;
    text-align: left;
  }
}

.biographyContainer {
  width: 100%;
  @media (min-width: $desktop) {
    width: 350px;
  }
  @media (min-width: $xl) {
    width: 750px;
  }
}

.biography {
  white-space: pre-wrap;
  font-size: 1.2em;
  @media (min-width: $desktop) {
    font-size: 1.5em;
  }
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 2em;
  text-align: center;
  @media (min-width: $md) {
    text-align: left;
  }
}

.scrollDown {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 5px solid white;
  margin: auto;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  transition: 0.3s;
  -webkit-animation: down 1.5s infinite;
  margin-bottom: 20px;
  display: none;
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 11px;
    width: 15px;
    height: 15px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
  }
  &:hover {
    border: 5px solid rgb(0, 77, 202);
  }
  @media (min-width: $md) {
    display: block;
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translate(0);
  }
}
