.title {
  padding: 20px;
  font-size: 2rem;
  text-align: left;
  @media (min-width: $sm) {
    font-size: 3rem;
  }
}

.skillsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $md) {
    justify-content: center;
    flex-direction: row;
  }
}
