.Sidebar {
  color: white;
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background: #111;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}
.SidebarItems {
  margin-top: 1em;
}

.Logo {
  text-align: center;
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .Sidebar {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
