.ProjectsBg {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  /* background: rgb(63, 94, 251);
  background: linear-gradient(
    354deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 87%,
    rgba(17, 17, 17, 1) 88%
  ); */
}
.Projects {
  display: flex;
  flex-wrap: wrap;
}
