.cyberpunk {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: perspective(100px) rotateY(-10deg) rotateX(15deg);
  text-transform: uppercase;
  text-align: center;
  color: #f6aca2;
  letter-spacing: 0.4rem;
  text-shadow: 3px 3px 0 #f49b90, 6px 6px 0 #f28b7d, 9px 9px #f07a6a,
    12px 12px 0 #ee6352;
}
