.title {
  padding: 20px;
  font-size: 1rem;
  text-align: left;
  @media (min-width: $sm) {
    font-size: 3rem;
  }
}

.subTitle {
  display: none;
  @media (min-width: $md) {
    display: block;
  }
}
