html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primaryText {
  font-family: 'Notable', sans-serif;
  color: #f5eee6;
  /* text-shadow: 3px 3px 0 #f49b90, 6px 6px 0 #f28b7d, 9px 9px #f07a6a,
  12px 12px 0 #ee6352; */
  opacity: 0.6;
}

.secondaryText {
  font-family: 'Antonio', sans-serif;
  color: #f5eee6;
  letter-spacing: 2px;

}

.subPrimaryText {
  font-family: 'Antonio', sans-serif;
  font-size: 0.3em;
  display: block;
  letter-spacing: 5px;
  padding: 10px 0;
}

.circle {
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
