$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

$mobile: 0px;
$tablet: 640px;
$laptop: 1024px;
$desktop: 1200px;

:export {
  xs: $xs;
  xm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
  desktop: $desktop;
  mobile: $mobile;
  tablet: $tablet;
  laptop: $laptop;
}
